/* BASIC STYLES HERE */
.bg-blue{
  background-color: rgba(26, 26, 248);
}
.bg-pink{
  background-color: rgb(255, 219, 225);
}
.bg-yellow{
  background-color: rgb(252, 252, 168);
}
.bg-purple{
  background-color: rgb(139, 67, 139);
}
.bg-red{
  background-color: rgb(247, 118, 118);
}