/* BASIC STYLES HERE */
.bg-blue{
  background-color: rgba(26, 26, 248, 0.52);
}
.bg-blue{
  background-color: rgb(255, 219, 225);
}
.bg-blue{
  background-color: rgb(252, 252, 168);
}
.bg-blue{
  background-color: rgb(139, 67, 139);
}
.bg-blue{
  background-color: rgb(247, 118, 118);
}